/* Box Model */

/* * {
    outline: 2px solid red;
  }  */


 /* Global */

html {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #fff;
}

 /* Topbar */

.topbar {
  position: relative;
  top: 5em;
} 

.navbar {
  margin: 0 auto;
  z-index: 1;
  width: 980px;
  height: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #787878;
  background: linear-gradient(#898989, #6d6d6d 50%, #5e5e5e 50%, #787878);
  border-radius: 4px;
  box-shadow: rgba(0,0,0,.3) 0 1px 2px;
  font-size: .8rem;
} 

.navbar > li {
  height: 36px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #444;
  border-width: 0 1px 0 0;
  cursor: pointer;
} 

.navbar-logo {
  width: 18px;
  height: 22px;
  background-image: url(../assets/globalnav_text.svg);
  background-position: 50% 0;
}